
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gradient-to-br from-white via-gray-50 to-gray-100 
  dark:from-gray-900 dark:via-gray-800 dark:to-black
  text-gray-900 dark:text-gray-100 transition-colors duration-500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
